<div class="card">
   <div class="card-header">
      <h1>Watered: {{format_date date_watered}}</h1>
   </div>
   <div class="card-body">
   <p>{{plants_watered}}</p>
   <span>Log #</span><span name="waterlog-id">{{id}}</span>
   </div>
</div>