<div class="card">
   <div class="card-header">
      <h3>Watered: {{format_date date_watered}}</h3>
   </div>
   <div class="card-body">
   <p>{{plants_watered}}</p>
   <a href="/waterlog/edit/{{id}}" class="edit-waterlog">Edit</a>
   </div>
</div>