<div class="card">
  <h3 class="card-header">Create New WaterLog</h3>
  <form class="card-body new-waterlog-form" id="new-waterlog">
    <div>
      <label for="date_watered" class="form-label">Date Watered</label>
      <input type="date" id="date_watered" name="date_watered" class="form-input" />
    </div>
    <div>
      <label class="form-label" for="plants_watered">Plants Watered</label>
      <input id="plants_watered" name="plants_watered" class="form-input" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/js/addWaterlog.js"></script>