<div class="card">
  <h3 class="card-header">Add New Plant</h3>
  <form class="card-body new-plant-form" id="new-plant-form">
    <div>
      <label for="common_name" class="form-label">Name:</label>
      <input type="text" id="common_name" name="common_name" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="latin_name">Scientific Name:</label>
      <input id="latin_name" name="latin_name" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="watering_schedule">Watering Schedule:</label>
      <input id="watering_schedule" name="watering_schedule" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="soil_type">Soil Type:</label>
      <input id="soil_type" name="soil_type" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="light_req">Light Requirements:</label>
      <input id="light_req" name="light_req" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="fertilizer_req">Fertilizer Requirements:</label>
      <input id="fertilizer_req" name="fertilizer_req" class="form-input"/>
    </div>
        <div>
      <label class="form-label" for="space_req">Space Requirements:</label>
      <input id="space_req" name="space_req" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="indoor_outdoor">Indoor/Outdoor:</label>
      <input id="indoor_outdoor" name="indoor_outdoor" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="pest_info">Pest Information:</label>
      <input id="pest_info" name="pest_info" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="pet_care">Toxic for Animals?</label>
      <input id="pet_care" name="pet_care" class="form-input"/>
    </div>
    <button type="submit" class="btn" id="new-plant">Add</button>
  </form>
</div>

<script src="/js/addPlant.js"></script>