<div class="card">
  <h3 class="card-header">Create New Plant</h3>
  <form class="card-body new-post-form" id="new-post">
    <div>
      <label for="post-title" class="form-label">Name:</label>
      <input type="text" id="post-title" name="post-title" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="content">Scientific Name:</label>
      <input id="content" name="content" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="content">Watering Schedule:</label>
      <input id="content" name="content" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="content">Soil Type:</label>
      <input id="content" name="content" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="content">Light Requirements:</label>
      <input id="content" name="content" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="content">Fertilizer Requirements:</label>
      <input id="content" name="content" class="form-input"/>
    </div>
        <div>
      <label class="form-label" for="content">Space Requirements:</label>
      <input id="content" name="content" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="content">Indoor/Outdoor:</label>
      <input id="content" name="content" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="content">Pest Information:</label>
      <input id="content" name="content" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="content">Toxic for Animals?</label>
      <input id="content" name="content" class="form-input"/>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/js/addPlant.js"></script>