<div class="card">
  <h3 class="card-header">Add New Plant</h3>
  <form class="card-body new-post-form" id="new-post">
    <div>
      <label for="post-title" class="form-label">Name:</label>
      <input type="text" id="post-title" name="post-title" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="sc-content">Scientific Name:</label>
      <input id="sc-content" name="sc-content" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="ws-content">Watering Schedule:</label>
      <input id="ws-content" name="ws-content" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="st-content">Soil Type:</label>
      <input id="st-content" name="st-content" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="lr-content">Light Requirements:</label>
      <input id="lr-content" name="lr-content" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="fr-content">Fertilizer Requirements:</label>
      <input id="fr-content" name="fr-content" class="form-input"/>
    </div>
        <div>
      <label class="form-label" for="sr-content">Space Requirements:</label>
      <input id="sr-content" name="sr-content" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="io-content">Indoor/Outdoor:</label>
      <input id="io-content" name="io-content" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="pi-content">Pest Information:</label>
      <input id="pi-content" name="pi-content" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="ta-content">Toxic for Animals?</label>
      <input id="ta-content" name="ta-content" class="form-input"/>
    </div>
    <button type="submit" class="btn">Add</button>
  </form>
</div>

<script src="/js/addPlant.js"></script>