
<article>
  <a href="/waterlog"> &larr; Back to waterlog</a>
  <h2>
    Edit Waterlog
  </h2>
  <form class="edit-waterlog-form">
    <div>
      <label for="date_watered" class="form-label">Date Watered</label>
      <input name="date_watered" class ="date_watered" type="date" value="{{waterlogs.date_watered}}" />
    </div>
    <div>
      <label class="form-label" for="plants_watered">Plants Watered</label>
      <input id="plants_watered" name="plants_watered" class="plants_watered" value="{{waterlogs.plants_watered}}" />
    
    </div>
    <button type="submit" class="save-waterlog-btn">Save waterlog</button>
    <button type="button" class="delete-waterlog-btn">Delete waterlog</button>
  </form>
</article>

<script src="/js/editWaterlog.js"></script>
<script src="/js/deleteWaterlog.js"></script>