<section class="plants">
  <a href="/plant-info/{{id}}">
  {{!-- <img src="/images/{{plant.filename}}" alt="{{plant.description}}"> --}}
  <img src="https://via.placeholder.com/300">
  <div class="plant-details">
    <h3>{{plant.common_name}}</h3>
  </div>
  </a>
</section>
