{{#if waterlogs.length}}
<section>
    <h2>Your Waterlogs</h2>
    <ul>
        {{#each waterlogs as |waterlog|}}
        <li>
            {{> waterlog-content waterlog}}
            <a href="/waterlog/edit/{{waterlog.id}}" class="edit-waterlog">Edit post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<script src="/js/deleteWaterlog.js"></script>