{{#if waterlogs.length}}
<section>
    <h2>Your Waterlogs</h2>
    <ul>
        {{#each waterlogs as |waterlog|}}
        <li>
            {{> waterlog-content waterlog}}
            <a href="/dashboard/edit/{{waterlog.id}}" class="edit-link">Edit</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}
{{!-- <script src="/js/addWaterlog.js"></script> --}}